{% extends 'base.html.twig' %}

{% block title %} {{ 'panier.titre' |trans }} {% endblock %}

{% block body %}
    <h1>{{ 'panier.titre1' |trans }}</h1>
    <br/>
    <h2>{{ 'panier.titre2' |trans }}</h2>
    <br/>

    {% if panier is not empty %}
    {# {{dump(panier)}} #}
         <table class="table" class="container">
            <thead>
                <tr>
                    <th>{{ 'panier.nom' |trans }}</th>
                    <th>{{ 'panier.quantite' |trans }}</th>
                    <th>{{ 'panier.montant' |trans }}</th>
                    <th>{{ 'panier.produit' |trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in panier %}
                    <tr>
                        <td>{{ article.produit.nom }}</td>
                        <td>{{ article.quantiteco }}</td>
                        <td>{{ (article.produit.prix) * (article.quantiteco) }}€</td>
                        <td>
                            <button  style="background-color:red ; border-radius:5px;">
                                <a href="{{ path('delete_produit_panier', {'id': article.id}) }}" style="color:white; text-decoration:none;" >
                                    {{ 'panier.supprimer' |trans }}
                                </a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
        {% else %} 
        <p>{{ 'panier.vide' |trans }}</p>
    {% endif %}

    <span style=" background-color:#707173; color:white; font-weight:bold; border-radius:2px;"> {{panier | length}} {{ 'panier.nb_produit' |trans }} </span>
   
    <br/>
    <br/>
    <br/>
    <br/>

    <h2>{{ 'panier.titre3' |trans }}</h2>
    
    {% set total_panier = 0 %} 
    {% set quantite_panier = 0 %}

        {% for article in panier %}
            
                {% set total_panier = total_panier + (article.produit.prix * article.quantiteco) %}
           
        {% endfor %}

    <p style="font-size:20px;"> {{ 'panier.total' |trans }}  <span style="font-weight:bold; font-size: 25px;" >{{ total_panier }}€</span>.</p>

{% endblock %}

{# commentaire dans le language adequate #}

