{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.titre' |trans }}{% endblock %}

{% block body %}

    <h1>{{ 'produit.titre1' |trans }}</h1>

    <br/>
    
    {% if produits is not empty %}
        
        <table border="1" class="container">
            <thread>
                <tr>
                    <th>{{ 'produit.photo' |trans }}</th>
                    <th>{{ 'produit.nom' |trans }}</th>
                    <th>{{ 'produit.quantite' |trans }}</th>
                    <th>{{ 'produit.prix' |trans }}</th>
                </tr>
            </thread>
            <tbody>
                {% for un_produit in produits %}
                    <tr>
                        
                        <td>
                            <img src="{{asset('/uploads/'~ un_produit.photo)}}" style="border-radius:20px;">
                        </td>
                        <td>
                            <a href="{{ path('mon_produit', {'id': un_produit.id}) }}"> <!-- "path" = direction-->
                                {{ un_produit.nom }}
                            </a>
                        </td>
                        <td>{{ un_produit.quantite }}</td>
                        <td>{{ un_produit.prix }}€</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'produit.vide' |trans }}</p>
    {% endif %}

    <br/>
    <br/>

    <h2>{{ 'produit.ajout' |trans }}</h2>
    <br/>
    {{ form(form_produit_new) }} 
{% endblock %}