{% extends 'base.html.twig' %}

{%block title %} {{produit.nom}} {% endblock %}

{% block body %}

    <h1>{{produit.nom }}</h1>

    <br/>  

    <p> <img src="{{asset('/uploads/'~ produit.photo)}}" style="border-radius:20px;"> </p>
    <p style="font-size:20px;"> Quantité : {{produit.quantite}} </p>
    <p style="font-size:20px;"> Prix : {{produit.prix}}€ </p>

    <br/>

    <h2>Ajouter au panier</h2>

    <br/>

    {{ form(form) }}
    
    

    <button  style="background-color:red ; border-radius:5px; "><a href="{{ path('delete_produit', {'id': produit.id}) }}" style="color:white; text-decoration:none;" >Supprimer le produit</a></button>
    
    <br/>
    <br/>

{% endblock %}