{% extends 'base.html.twig' %}

{%block title %} {{produit.nom}} {% endblock %}

{% block body %}

    <h1>{{produit.nom }}</h1>

    <br/>  

    <p> <img src="{{asset('/uploads/'~ produit.photo)}}" style="border-radius:20px;"> </p>
    <p style="font-size:20px;"> {{ 'produit.p_quantite' |trans }} {{produit.quantite}} </p>
    <p style="font-size:20px;"> {{ 'produit.p_prix' |trans }} {{produit.prix}}€ </p>

    <br/>

    <h2>{{ 'produit.p_ajout' |trans }}</h2>

    <br/>

    {{ form(form) }}
    
    

    <button  style="background-color:red ; border-radius:5px; "><a href="{{ path('delete_produit', {'id': produit.id}) }}" style="color:white; text-decoration:none;" >{{ 'produit.p_supprimer' |trans }}</a></button>
    
    <br/>
    <br/>

{% endblock %}